@use "sass:map";
@use "../../../styles/variables" as *;

.skill-card {
  background-color: var(--bg-color-lighter);
  border-radius: map.get($radius, "xl");
  padding: map.get($spacing, "lg");

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__logo {
    width: 75px;
    height: 75px;
    margin-bottom: map.get($spacing, "md");

    img {
      width: 100%;
      height: 100%;
      filter: var(--img-color);
      transition: filter $theme-transition ease;
    }
  }

  &__title {
    font-size: map.get($font-sizes, "md");
    margin-bottom: map.get($spacing, "lg");
    text-align: center;
  }

  &__stack {
    text-align: center;
  }

  &__item {
    margin-bottom: map.get($spacing, "md");
  }

  &__item:last-child {
    margin-bottom: 0;
  }
}
