@use "sass:map";
@use "../../../styles/variables" as *;

.route-transition {
  svg {
    position: fixed;
    z-index: 99;
    left: 0;

    path {
      transition: fill $theme-transition ease;
      fill: var(--bg-color-invert);
    }
  }

  &__title {
    position: fixed;
    z-index: 100;
    top: 50%;
    left: 50%;
    translate: -50% -50%;

    font-size: map.get($font-sizes, "2xl");
    color: var(--text-color-invert);
    text-transform: uppercase;

    span {
      margin: 0 !important;
    }
  }
}
