@use "sass:map";
@use "../../../../shared/styles/variables" as *;
@use "../../../../shared/styles/mixins" as *;

.work {
  &__list {
    --cols: 1;

    display: grid;
    grid-template-columns: repeat(var(--cols), 1fr);
    gap: map.get($spacing, "xl");

    @include on-wide-tablet {
      --cols: 2;
    }
  }
}
