@keyframes bouncing {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.06);
  }
  50% {
    transform: scale(1.03);
  }
  75% {
    transform: scale(1.05);
  }
  10% {
    transform: scale(1);
  }
}

@keyframes bigger-bouncing {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.05);
  }
  75% {
    transform: scale(1.08);
  }
  10% {
    transform: scale(1.2);
  }
}