$max-container-width: 1500px;
$base-transition: 300ms;
$transition-bouncy: cubic-bezier(0.25, 2, 0.5, -0.75);

$colors: (
  "dark": #161528,
  "light": #f5f1eb,
  "red": #FF5F61,
);

$spacing: (
  "3xl": 80px,
  "2xl": 60px,
  "xl": 50px,
  "lg": 40px,
  "md": 20px,
  "sm": 10px,
  "xs": 5px,
);

$radius: (
  "2xl": 30px,
  "xl": 20px,
  "lg": 15px,
  "md": 10px,
  "sm": 5px,
);


$breakpoints: (
  "tablet": 660px,
  "desktop": 1200px
);
