$max-container-width: 1500px;
$base-transition: 300ms;
$theme-transition: 800ms;
$transition-bouncy: cubic-bezier(0.25, 2, 0.5, -0.75);

$colors: (
  "dark": #161528,
  "slightly-dark": #302e3c,
  "grey": #808080,
  "light-grey": #a3a3a3,
  "light": #f5f1eb,
  "white": #fff,
  "red": #ff5f61,
  "pink": #ff3f7f,
);

$spacing: (
  "6xl": 160px,
  "5xl": 130px,
  "4xl": 100px,
  "3xl": 80px,
  "2xl": 60px,
  "xl": 50px,
  "lg": 40px,
  "md": 20px,
  "sm": 10px,
  "xs": 5px,
);

$radius: (
  "3xl": 40px,
  "2xl": 30px,
  "xl": 20px,
  "lg": 15px,
  "md": 10px,
  "sm": 5px,
  "xs": 3px,
);

$font-sizes: (
  "base": 1rem,
  "2xs": 0.85rem,
  "xs": 1.125rem,
  "sm": 1.25rem,
  "md": 1.5rem,
  "lg": 2rem,
  "xl": 2.5rem,
  "2xl": 3rem,
  "3xl": 3.5rem,
  "4xl": 4rem,
  "5xl": 5rem,
  "6xl": 6rem,
  "7xl": 8rem,
  "8xl": 8.5rem,
);

$breakpoints: (
  "wide-mobile": 480px,
  "tablet": 720px,
  "wide-tablet": 940px,
  "desktop": 1200px,
  "wide-desktop": 1500px,
);
