@use "sass:map";
@use "./variables" as *;
@use "./mixins" as *;
@use "./reset";
@use "./typography";
@use "./theme";

* {
  transition: background-color $theme-transition ease,
    color $theme-transition ease;
}

body {
  color: var(--text-color);
  background-color: var(--bg-color);
}

a {
  color: var(--text-color);
}

.main-wrapper {
  max-width: $max-container-width;
  margin-inline: auto;
  padding-inline: map.get($spacing, "md");

  @include on-tablet {
    padding-inline: map.get($spacing, "xl");
  }
}
