@use "sass:map";
@use "./variables" as *;
@use "./reset";
@use "./typography";
@use "./theme";

* {
  transition: background-color $theme-transition ease,
    color $theme-transition ease;
}

body {
  color: var(--text-color);
  background-color: var(--bg-color);
}

a {
  color: var(--text-color);
}
