@use "sass:map";
@use "../../../styles/variables" as *;
@use "../../../styles/functions" as *;

.btn {
  cursor: pointer;
  overflow: hidden;

  text-transform: uppercase;
  background-color: var(--bg-color-invert);
  color: var(--text-color-invert);
  font-family: var(--playful-font);
  white-space: nowrap;

  transition: background-color $theme-transition ease,
    color $theme-transition ease;

  &:hover {
    background-color: var(--bg-color-lighter-invert);
  }

  &--lg {
    font-size: map.get($font-sizes, "md");
    padding: 15px 30px;
    border-radius: map.get($radius, "xl");
  }

  &--md {
    font-size: map.get($font-sizes, "sm");
    padding: 15px 25px;
    border-radius: map.get($radius, "lg");
  }

  &--sm {
    font-size: map.get($font-sizes, "sm");
    padding: 13px 20px;
    border-radius: map.get($radius, "lg");
  }

  &--xs {
    font-size: map.get($font-sizes, "xs");
    padding: 10px 15px;
    border-radius: map.get($radius, "md");
  }

  &--pink {
    background-color: map.get($colors, "pink");
    color: map.get($colors, "light");

    &:hover {
      background-color: modify-color(map.get($colors, "pink"), "lighten", 20%);
    }
  }
}
