@use "sass:map";
@use "variables" as *;

@mixin on-wide-mobile {
  @media (min-width: map.get($breakpoints, "wide-mobile")) {
    @content;
  }
}

@mixin on-tablet {
  @media (min-width: map.get($breakpoints, "tablet")) {
    @content;
  }
}

@mixin on-wide-tablet {
  @media (min-width: map.get($breakpoints, "wide-tablet")) {
    @content;
  }
}

@mixin on-desktop {
  @media (min-width: map.get($breakpoints, "desktop")) {
    @content;
  }
}

@mixin on-wide-desktop {
  @media (min-width: map.get($breakpoints, "wide-desktop")) {
    @content;
  }
}

@mixin page-grid {
  --columns: 2;

  display: grid;
  column-gap: 20px;
  grid-template-columns: repeat(var(--columns), 1fr);
  margin-inline: map.get($spacing, "md");

  @include on-tablet {
    --columns: 6;
    grid-template-columns: repeat(var(--columns), 1fr);

    margin-inline: map.get($spacing, "xl");
    column-gap: 24px;
  }

  @include on-desktop {
    --columns: 12;
    grid-template-columns: repeat(var(--columns), 1fr);

    margin-inline: map.get($spacing, "4xl");
  }

  @include on-wide-desktop {
    --columns: 12;
    grid-template-columns: repeat(var(--columns), 1fr);

    margin-inline: map.get($spacing, "2xl");
  }
}
