@use "sass:map";
@use "variables" as *;

:root {
  --text-color: #{map.get($colors, "dark")};
  --text-color-invert: #{map.get($colors, "light")};
  --text-color-lighter: #{map.get($colors, "slightly-dark")};
  --text-color-lighter-invert: #{map.get($colors, "white")};
  --text-grey-color: #{map.get($colors, "grey")};

  --bg-color: #{map.get($colors, "light")};
  --bg-color-lighter: #{map.get($colors, "white")};
  --bg-color-lighter-invert: #{map.get($colors, "slightly-dark")};
  --bg-color-invert: #{map.get($colors, "dark")};
  --nav-overlay: rgba(245, 241, 235, 0.4);

  --img-color: filter: brightness(0) saturate(100%) invert(6%) sepia(18%)
    saturate(2654%) hue-rotate(209deg) brightness(93%) contrast(94%);
  --img-color-invert: brightness(0) saturate(100%) invert(100%) sepia(46%)
    saturate(748%) hue-rotate(325deg) brightness(114%) contrast(91%);
}

[data-theme="dark"] {
  --text-color: #{map.get($colors, "light")};
  --text-color-invert: #{map.get($colors, "dark")};
  --text-color-lighter: #{map.get($colors, "white")};
  --text-color-lighter-invert: #{map.get($colors, "slightly-dark")};
  --text-grey-color: #{map.get($colors, "light-grey")};

  --bg-color: #{map.get($colors, "dark")};
  --bg-color-invert: #{map.get($colors, "light")};
  --bg-color-lighter: #{map.get($colors, "slightly-dark")};
  --bg-color-lighter-invert: #{map.get($colors, "white")};
  --nav-overlay: rgba(22, 21, 40, 0.4);

  --img-color: brightness(0) saturate(100%) invert(100%) sepia(46%)
    saturate(748%) hue-rotate(325deg) brightness(114%) contrast(91%);
  --img-color-invert: filter: brightness(0) saturate(100%) invert(6%) sepia(18%)
    saturate(2654%) hue-rotate(209deg) brightness(93%) contrast(94%);
}

body {
  background-color: var(--bg-color);
}
