@use "sass:map";
@use "../../shared/styles/variables" as *;
@use "../../shared/styles/mixins" as *;

.no-projects {
  font-size: map.get($font-sizes, "xs");
  text-align: center;

  @include on-tablet {
    font-size: map.get($font-sizes, "sm");
  }
}
