@use "sass:map";
@use "../../../../shared/styles/variables" as *;
@use "../../../../shared/styles/mixins" as *;

.project-welcome {
  margin-block: map.get($spacing, "4xl");
  display: flex;
  flex-direction: column;
  gap: map.get($spacing, "xl");
  text-align: center;

  @include on-tablet {
    text-align: left;
  }

  &__title {
    font-size: map.get($font-sizes, "4xl");
  }

  &__subtitle {
    font-size: map.get($font-sizes, "md");
  }

  &__stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: map.get($spacing, "xl");

    @include on-wide-mobile {
      flex-direction: row;
    }
  }
}
